@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap%27');

* {
  font-family: 'Poppins', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #161616;
  color: #ddd;
  padding: 50px;
}

h1 {
  color: #eef;
  text-align: center;
}